<!DOCTYPE html>
<html>
<head>
    <title>User Signup</title>
    <style>.error { color: red; }</style>
</head>
<body>
    <h1>User Signup</h1>
    <br>
    <form action="/" method="POST">
        <table>
            <tr>
                <td>
                    <label for="username">Username:</label>
                </td>
                <td>
                    <input type="text" name="username" id="username" value="{{ username }}" />
                    <span class="error">{{ username_error }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password:</label>
                </td>
                <td>
                    <input type="password" name="password" id="password" value = "{{ password }}"/>
                    <span class="error"> {{ password_error }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="verified_password">Verify your Password:</label>
                </td>
                <td>
                    <input type="password" name="verified_password" id="verified_password" value = "{{ verified_password }}" />
                    <span class="error">{{ verified_password_error }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="email">Email: </label>
                </td>
                <td>
                    <input type="text" name="email" id="email" value = "{{ email }}" />
                    <span class="error">{{ email_error }}</span>
                </td>
            </tr>
        </table>
        <input type="submit" value="Sign me up!" />
    </form>

</body>
</html>